Repository Yokaito/Spotify-Clone: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint 'src/**/*.tsx' --fix, eslint 'src/**/*.ts' --fix

.lintstagedrc.json:

{
  "*.tsx": ["eslint 'src/**/*.tsx' --fix"],
  "*.ts": ["eslint 'src/**/*.ts' --fix"]
}

fix: types in hook player
  src/hooks/useAudioPlayer.tsx
Due: eslint 'src/**/*.tsx' --fix

Updates
  asset-manifest.json
  audio/music.mp3
  favicon.ico
  index.html
  manifest.json
  robots.txt
  static/js/2.e9f3ecfe.chunk.js
  static/js/2.e9f3ecfe.chunk.js.LICENSE.txt
  static/js/2.e9f3ecfe.chunk.js.map
  static/js/main.315d6ba8.chunk.js
  static/js/main.315d6ba8.chunk.js.map
  static/js/runtime-main.12f467f3.js
  static/js/runtime-main.12f467f3.js.map
  static/media/logo.b21567b6.png
Due: none

feat: new features on slider music
  package.json
  public/audio/1/music.mp3
  public/audio/2/music.mp3
  public/audio/2/songImage.jpg
  src/App.tsx
  src/components/Player/Controls/index.tsx
  src/components/Player/Controls/styles.ts
  src/components/Player/Information/index.tsx
  src/components/Player/Information/styles.ts
  src/functions/time.tsx
  src/hooks/useAudioPlayer.tsx
  src/index.tsx
  src/store/actions/songActions.ts
  src/store/hooks.ts
  src/store/slices/configClientSlice.ts
  src/store/slices/currentSongSlice.ts
  src/store/store.ts
Due: eslint 'src/**/*.tsx' --fix, eslint 'src/**/*.ts' --fix

feat: add new buttons on controls
  src/assets/svg/index.tsx
  src/components/Player/Controls/ButtonChangeMusic/index.tsx
  src/components/Player/Controls/ButtonChangeMusic/styles.ts
  src/components/Player/Controls/ButtonPlay/index.tsx
  src/components/Player/Controls/ButtonPlay/styles.ts
  src/components/Player/Controls/ButtonRepeat/index.tsx
  src/components/Player/Controls/ButtonRepeat/styles.ts
  src/components/Player/Controls/ButtonShuffle/index.tsx
  src/components/Player/Controls/ButtonShuffle/styles.ts
  src/components/Player/Controls/ProgressBar/index.tsx
  src/components/Player/Controls/ProgressBar/styles.ts
  src/components/Player/Controls/index.tsx
  src/components/Player/Controls/styles.ts
  src/components/Player/ExtraControls/styles.ts
  src/hooks/useAudioPlayer.tsx
  src/store/slices/configClientSlice.ts
Due: eslint 'src/**/*.tsx' --fix, eslint 'src/**/*.ts' --fix

feat: add mirage to simulate a api and make button next works
  package.json
  public/audio/1/image.jpg
  public/audio/2/image.jpg
  src/components/Player/Controls/ButtonChangeMusic/index.tsx
  src/hooks/useAudioPlayer.tsx
  src/index.tsx
  src/mirage/server.js
  src/store/slices/currentSongSlice.ts
Due: eslint 'src/**/*.tsx' --fix, eslint 'src/**/*.ts' --fix

feat: add control volume
  src/components/Player/ExtraControls/ProgressBarVolume/index.tsx
  src/components/Player/ExtraControls/ProgressBarVolume/styles.ts
  src/components/Player/ExtraControls/VolumeIcon/index.tsx
  src/components/Player/ExtraControls/VolumeIcon/styles.ts
  src/components/Player/ExtraControls/index.tsx
  src/components/Player/ExtraControls/styles.ts
  src/store/slices/configClientSlice.ts
Due: eslint 'src/**/*.tsx' --fix, eslint 'src/**/*.ts' --fix

feat: add playlist and auto play
  src/components/Player/Controls/ButtonChangeMusic/index.tsx
  src/components/Player/ExtraControls/ProgressBarVolume/index.tsx
  src/hooks/useAudioPlayer.tsx
  src/layout/index.tsx
  src/mirage/server.js
  src/store/slices/currentPlaylistSlice.ts
  src/store/slices/currentSongSlice.ts
  src/store/store.ts
Due: eslint 'src/**/*.tsx' --fix, eslint 'src/**/*.ts' --fix

feat: add new music
  public/audio/3/image.jpg
  public/audio/3/music.mp3
  src/components/Player/Controls/ButtonChangeMusic/index.tsx
  src/hooks/useAudioPlayer.tsx
  src/mirage/server.js
  src/store/slices/currentSongSlice.ts
Due: eslint 'src/**/*.tsx' --fix, eslint 'src/**/*.ts' --fix
